@import "../utils/Colors.scss";

.dashboard {
  position: relative;
  text-align: center;
  min-height: 88vh;
  background-color: var(--primary-color);
  top: 5rem;

  .card-grid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.title {
  padding: 1rem 0;
  font-size: 4rem;
  font-weight: 600;
  color: var(--secondary-color);
}
