@import "../utils/Colors.scss";

header {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  width: 100%;
  padding: 0.75rem;
  background-color: var(--header-color);
  border-bottom: 1px solid var(--accent-color);
  z-index: 999;

  img {
    height: 3.75rem;
    margin: 4px;
    &:hover {
      filter: drop-shadow(0 4px 8px rgba(255, 255, 255, 0.4));
    }
  }
}
