@import "../utils/Colors.scss";

.main-content-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("../images/bg-light.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;

  div {
    margin-left: 4rem;
  }

  h1,
  h4 {
    margin-bottom: 1rem;
    max-width: 70vh;
    color: var(--secondary-color);
  }

  p {
    line-height: 1.25;
    text-align: justify;
    word-break: break-word;
  }

  @media (max-width: 768px) {
    h1,
    h4 {
      text-align: center;
      margin-bottom: 0.8rem;
      max-width: 62vh;
      color: var(--secondary-color);
    }

    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 calc(0.8rem + 1vw);
    }
  }

  @media (max-width: 480px) {
    div {
      margin: 0 calc(0.4rem + 1vw);
    }
  }
}

body.dark-mode .main-content-banner {
  background-image: url("../images/bg-dark.jpg");
}
