@import "../utils/Colors.scss";

.not-found {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  background-color: white;

  h1,
  h4,
  p {
    margin-bottom: 1rem;
    background: linear-gradient(
      315deg,
      var(--accent-color) 0%,
      var(--secondary-color) 100%
    );
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }

  img {
    width: 20rem;
    height: 20rem;
    transform: skew(-45deg, 15deg) rotate(0deg);
    filter: drop-shadow(8px 8px 40px var(--accent-color));
    z-index: 1;
    animation: rotating 60s linear infinite;
  }

  @keyframes rotating {
    from {
      -webkit-transform: skew(-45deg, 15deg) rotate(0deg);
    }
    to {
      -webkit-transform: skew(-45deg, 15deg) rotate(360deg);
    }
  }

  @media (max-width: 768px) {
    div {
      margin: 0 0.8rem;
    }
    img {
      margin-left: 1.6rem;
      width: 15rem;
      height: 15rem;
    }
  }

  @media (max-width: 480px) {
    div {
      margin: 0 0.8rem;
    }
    img {
      margin-left: 0.8rem;
      width: 10rem;
      height: 10rem;
    }
  }
}
